

*{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}

ul{
   
    list-style: none;
    float: left;
   
}
ul li{
    
   
 
   display: inline-block;
   line-height: 60px;
    margin-left: 60px;
    
}
a:hover{
    color: greenyellow;
}
ul li a{
   
    padding:50px 50px;
    text-decoration: none;
    color: white;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     

}

.header {
    top: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  padding: o 20px;

}
.banner
{

  background-image: url(img/emile-perron-xrVDYZRGdw4-unsplash.jpg); 
  background-size: cover;
  height: 600px;
  margin-top: 10px;
  display:flex;
  
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  border-radius: 5px;
}
.team{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.circle{
    margin-top: 35px;
    height:180px;
    width:180px;
    border-radius: 100%;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    background-size: cover;
}

.team::after {
    content: "";
    clear: both;
    display: table;
  }
.boxes{
    margin-top: 40px;
    margin-left: 85px;
    margin-right: 50px;
    
}
.box{
    
    margin-top:35px ;
    height: 300px;
    width: 250px;
    background-color: turquoise;
    margin-right: 25px;
    margin-left: 25px;
    float: left;
    color: white;
    margin-bottom:40px ;
}
.box p{
    color: black;
}
.button{
    margin-top:30px;
    cursor: pointer;
    width:240px ;
    margin-left: 5px;
    height: 30px;
    background-color: red;
    position: sticky;
    
}
.boxes::after {
    content: "";
    clear: both;
    display: table;

  }
.About{
    margin-top:40px ;
    margin-left: 97px;
    margin-right: 50px;
    display: flex;
    
}

.main{
    width: 50%;
    height: 600px;
    background-size:cover;
    color:teal;
    display:table;
    
    
}
.main p{
    color:black;
    font-size: 23px;
}
.right{
   
    width: 48%;
   
    
   
}
.aside{
    color:teal;
    height: 193px;
    widows: 100%;
    background-size: contain;
    margin-bottom: 10px;
    margin-left: 10px;
}


.foot{
    padding-top: 20px;
    margin-top: 35px;
    background-color: turquoise;
    color: white;
    height: 90px;
    width:flex;
}



.show-btn, .hide-btn{
    font-size: 30px;
    color: white;
    line-height: 70px;
    
    display: none;

}
.show-btn{
    float: right;
    margin-right: 20px;
}
 #chk{
     position: absolute;
     visibility: hidden;
     z-index: -10;

 }   
 .show-btn:hover{
     color:teal;
 }

/* first break point */
@media (min-width: 1001px ) and (max-width:1200px)
{
.header{
    width: 100%;
    position: fixed; 
} 
.body{
    padding-top: 0;
}

ul li{
    
    margin-left: 100px;
 
}
ul li a{
    
    padding:  10px;
    font-size: 13px;
}
.banner{
    
    width: 100%;
    margin-left: 0px;
    height: 500px;
}
.circle{

    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    

}
.team{
    margin-left: 300px;
    margin-right: 150px;
}
.boxes{
    margin-left: 250px;
    margin-right: 100px;
    
}
.team h1{
    margin-right: 80px;
}
.About{
    margin-left: 10px;
    margin-right:0;
}
.main{
    height: 750px;
    width: 50%;
}


.box{
    
    height: 350px;
    width:300px;
    }

.button{
    margin-top:95px;
    width:290px ;
    
}
.aside{

    height: 243px;
}


}


/*Second break */
@media (min-width:700px )and (max-width:1000px)
{
    .header{
        position: fixed;
       
        width:100% ;
        
    } 
    .body{
        padding-top: 0;
    }
   .show-btn, .hide-btn{
       display: block;
   }
   .show-btn{
       float:right;
   }
    .ul{
       position: fixed;
       top: 0;
       right:-100%;
       width: 100%;
       height: 100vh;
       background-color: black;
       text-align: center;
      padding: 80px 0;
       line-height: normal;
       transition: .7s;
    }
    #chk:checked ~ .ul{
        right: 0;

    }
    .ul li{
        display: block;
        line-height: 0;
        
        

    }
    .ul li a{
        padding-bottom: 30px;
        display: block;

    }
    .hide-btn{
        position: absolute;
        right: 30px;
        top: 5px;
    }
    
    .banner{
        
        width: 100%;
        margin-left: 0px;
        height: 400px;
    }
    .circle{
    
        width: 300px;
        height: 300px;
        margin-left: 30px;
        margin-right: 30px;
        
    
    }
    .team{
        margin-left: 90px;
        margin-right: 60px;
    }
    .boxes{
        margin-left: 150px;
        margin-right: 60px;
        
    }
    .boxes h1{
        margin-right: 100px;
    }
    .team h1{
        margin-right: 100px;
        margin-left: 80px;
    }
    .About{
        margin-left: 10px;
        margin-right:0;
    }
    .main{
        height: 750px;
        width: 50%;
        display:block;
        
    }
    .main p{
        font-size: 20px;
    }
    
    .box{
        
        height: 350px;
        width:270px;
        
        }
    
    .button{
        margin-top:95px;
        width:260px ;
        
    }
    .aside{
    
        height: 243px;
    }
    
}



/*3rd Break */
@media (min-width:414px) and (max-width:699px)
{
    .header{
        width: 100%;
        position: fixed; 
    } 
    .body{
        padding-top: 0;
    }
    .show-btn, .hide-btn{
        display: block;
    }
    .show-btn{
        float:right;
    }
     .ul{
        position: fixed;
        top: 0;
        right:-100%;
        width: 100%;
        height: 100vh;
        background-color: black;
        text-align: center;
       padding: 80px 0;
        line-height: normal;
        transition: .7s;
     }
     #chk:checked ~ .ul{
         right: 0;
 
     }
     .ul li{
         display: block;
         line-height: 0;
         
         
 
     }
     .ul li a{
         padding-bottom: 30px;
         display: block;
 
     }
     .hide-btn{
         position: absolute;
         right: 30px;
         top: 5px;
     }
    .banner{
        
        width: 100%;
        margin-left: 0px;
        height: 300px;
    }
    .circle{
    
        width: 300px;
        height: 300px;
        margin-left: 30px;
        margin-right: 30px;
        
    
    }
    .team{
        margin-left: 60px;
        margin-right: 60px;
    }
    .boxes{
        margin-left: 100px;
        margin-right: 10px;
        
    }
    .boxes h1{
        margin-right:55px ;
    }
    .team h1{
        margin-right: 100px;
        margin-left: 80px;
    }
    


    
    .box{
       
        height: 350px;
        width:270px;
        
        }
    
    .button{
        margin-top:95px;
        width:263px ;
        
    }
    .About{
        display: block;
    }
    .right{
        width: 100%;
        
    }
    .aside{
        width:100%;
        height: 200px;
        display: block;
        margin-left: 0px;
    } 
    .main{
        height: 200px;
        width: 100%;
        display:block;
        margin-bottom: 10px;
        margin-left: 0;
        
    }
    .main p{
     font-size: 10px;
    }
}

